{
	"plugins": [
		"lodash",
		"transform-export-extensions",
		["transform-object-rest-spread", { "useBuiltIns": true }]
	],
	"env": {
		"es": {
			"presets": ["react"]
		},
		"cjs": {
			"presets": [["env", {
				"targets": {
				  "browsers": "last 2 versions"
				},
				"useBuiltIns": "usage"
			}], "react"]
		}
	}
}