{
	"plugins": [
		"lodash",
		"transform-export-extensions",
		["transform-object-rest-spread", { "useBuiltIns": true }]
	],
	"env": {
		"es": {
			"presets": [["env", {
				"targets": {
				  "node": "current"
				},
				"modules": false
			}], "react"]
		},
		"node": {
			"presets": [["env", {
				"targets": {
				  "node": "current"
				}
			}], "react"]
		}
	}
}